/* цвет основного текста  #212121;
*/
/* вторичный цвет текста * #757575/
/* белый # #ffffff */
/* акцент 2196F3 */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
  --footer-bg-color: #2F303A;
}

/* body list */
body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  background-color: var(--main-bg-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}
/* top line bg */
.page-header{ 
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

.link-current {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--accent-color);
}

.site-nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav-link:hover {
  color: var(--accent-color);
}